/* enregistrement*/
fieldset{
    border:solid black 1px ;
        border-radius: 10px;
}
legend {
    padding: 0;
    width: inherit;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
  }
  .form-control{
      margin:10px;
  }
  .photo{
border: black solid 1px;
position: relative;
padding: 0
}
.row{
margin-left: auto;
margin-right: auto;
justify-content: space-between;
}
.labelphoto,.lab{
height: 100%;
width:100%;
background-color: gray;
}
.lab{
position: absolute;
}
/* card liste */ 

.btn-primary{
    color:white;
    /* background-color: rgb(138, 14, 14); */
}
hr{
    margin: 5px;
    margin-left: 5px;
    background-color: rgb(223, 33, 33);
}
.card-title{
    margin-left: 5px;
}
.card{
    margin-top: 10%;
    margin-left: 20%;
    background-color: rgb(233, 227, 227);
    box-shadow: 20px;
}
.card-body{
    background-color:white;
}